{% extends 'base.html.twig' %}

{% block title %}Hello Page 2{% endblock %}

{% block body %}
    <h1 style="text-align: center">Page 2</h1>
    <p>" Pif Paf!!!! " c'est encore une test page</p>
{% endblock %}
